.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(hero-food-cjlv.jpg);
  height: 505px;
  line-height: 1.2px;
  background-position: 50% 50%;
}
@media (max-width: 768px) {
  .App-header {
    height: 400px;
    background-position: 50% 10%;
  }
}
@media (max-width: 990px) {
  .App-header {
    height: 450px;
  }
}
.App-title {
  font-size: 50px;
  padding: 70px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
